
<div class="header">
	<div class="background"></div>
	<div class="white-background"></div>
	<div class="text-container">
		<div class="wrapper">
			<h3>Carlie's Trip to Africa</h3>
			<p>Hey there. My name is Carlie. I currently live in Chicago and I decided to make t-shirts! I have always wanted to design
			a shirt and now I have a reason too—I am going to Africa!</p>
		</div>
	</div>
</div>

<div class="companyExplanation">
	<h2>Your Support Matters</h2>
	<hr>
	<p> I have always had a heart for Africa, even when I was a young kid. Before going to college, I remember I just wanted to
	own an orphanage in Africa. Now I am finally moving towards that dream! This summer I get a chance to be in Mozambique, with
	the orphans and marginalized, getting to teach them, learn from them, and grow with them. I desire the people there to experience
	the love of God and be changed forever. My goal is to be in Africa long term, so this summer is a stepping stone into something
	more concrete. The shirts are a way to support me getting there!</p>
</div>
<div class="info-banner">
	<h2>Bringing Joy and Freedom</h2>
</div>
<div class="products">
	<img  src="app/images/africa-kids.jpg"/>
</div>
<div class="reach-out">
	<h2>Product with Purpose</h2>
	<hr>
	<div class="main-content">
		<div>
			<img height="80" src="app/images/africa-shirt.jpg">
		</div>
		<div>	
			<p>  The meaning behind the shirt is that God gave me a dream to go to Africa and I said, “yes”! The front of the shirt says
			“Wherever you go…” and the back, “I will go…” because I am going with God where He wants me to go. When you guys support
			me, it’s like a piece of you is going with me too, by investing in me! The shirt is a tangible reminder of the people in
			Africa you are investing in with me. Thank you guys for supporting!! Enjoy the shirt! </p>
		</div>	
	</div>
</div>
<div>
	<prod-form></prod-form>
</div>
<div class="questions">
	<h2>Anymore Questions? Reach out</h2>
	<hr>
	<p>If you have any questions about My Mission, the shirts or anything else feel free to email me by clicking the mail icon below</p>
	<a href="mailto:carlieharford@gmail.com">
		<img src="app/images/email.jpg">
	</a>	
</div>



