
<div class="header">
	<div class="background"></div>
	<h3>Prodception</h3>
</div>
<div class="companyExplanation">
	<h2>The Central Hub for Product Conception and Production</h2>
	<hr>
	<p>The list of businesses under the Prodception umbrella is growing and will continually expand. With a new way of approaching company management Prodception changes the way businesses are started and the approach to expansion. Our Products and Services will always provide quality, excellence and effiecency.</p>
</div>
<div class="productCategories">
	<h3>We have companies in the following areas</h3>
	<hr>
	<div class="icon-container">
		<div ng-repeat="category in homepage.productCategories">
			<h3 class="title" ng-bind="category.title"></h3>
			<img ng-src="{{category.source}}">
		</div>
	</div>
</div>
<div class="reach-out">
	<img src="app/images/stacked_iphones.jpeg">
</div>
<div class="product-list"></div>
<div class="services-talk">
</div>
<div class="last-message"></div>
