#product-selection {
    padding: 5px;
    .product-container {
        display: flex;
        overflow-x: scroll;
        -webkit-overflow-scrolling:touch;

        div {
            padding: 12px;
            h4, .size {
                text-align: center;
            }
            .product-img {
                height: 150px;
            }
        }
    
    }
}

#cart {
    padding: 10px 0;
    .items {
        .item-name {
            font-size: 14px;
        }

        img {
            @include medium-screens-up {
                position: absolute;
                top: 0;
                right: 10px;
            }

            @include small-screens-only {
                position: absolute;
                top: 45px;
                right: 5px;
            }
        }

        .item-sizes {
            margin: 5px;
            ul {
                padding: 0 78px 0 0;
                .adjustments {
                    display: inline-flex;
                    b, p {
                        padding: 5px;
                    }

                    b {
                        font-size: 14px;
                    }
                }
            }
        }

    }
}