<html lang="en">
<head>
	<!-- Require meta Tag -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- App Styles -->
	<link rel="stylesheet" type="text/css" href="app/styles/styles.css">

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="app/styles/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="app/styles/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="app/styles/bootstrap-reboot.min.css">

</head>
<body ng-app="app" ng-controller="appController">
  	<navigation></navigation>	
	
	<div ui-view></div>
	
	<footer></footer>
	<!-- Two different modals to handle failed interpolation -->
	<modal ng-if="modalInfo.applicationModal" controller-name="appController" modal-template="app/modal-templates/application-modal.html"></modal>
	<modal ng-if="modalInfo.employmentModal" controller-name="appController" modal-template="app/modal-templates/employment-modal.html"></modal>
	<!-- BrainTree -->
	<script type="text/javascript" src="app/js/apis/braintree.js"></script>
	<!-- application -->
	<script type="text/javascript" src="app/js/vendors.min.js"></script>
	<script type="text/javascript" src="app/js/app.min.js"></script>

</body>
</html>
