.footer {
	height: 200px;
	width: 100%;
	background-color: #f3f1ef;
	position: relative;
	margin-top: 20px;

	p {
		text-align: center;
	}

	legend {
		text-align: center;

		img {
			background-color: white;
			border: 1px solid black;
			border-radius: 100px;
		}
	}

	ul {
		
		text-align: center;
		padding: 20px 0 0 0;

		li {
			display: inline-block;
			border-right: 1px solid;
			padding: 0 10px;
			cursor: pointer;
			&:hover {
				border-bottom: 1px solid black;
				background: white;
			}

			&:last-of-type {
				border-right: none;
			}
		}
	}
}