#verify {
    padding: 10px 20px;
    h4 {
        text-align: center;
    }

    label {
        width: 100%;
        color: darkred;
        input {
            padding: 0 10px;
            border: none;
        }
    }
}