#about {
	padding: 20px;
	text-align: center;
	h1 {
		text-align: center;
		font-family: 'Vollkorn SC', serif;
	}

	.history {
		div {
			display: inline-block;
			position: relative;
			p {
				width: 100%;
			}
		}

	}
}