<div id="about">
	<h2>
		What is Prodception?
	</h2>
	<hr>
	<p>
		Prodception is an umbrella company which acts as a covering to multiple businesses we label as Products.
		The conception of these businesses can either begin within Prodception or from an indiviual wanting
		funding and support. The way this looks can vary depending on the Product or Service presented. Prodceptions
		main focus is giving Products an identity of their own. After a Product is established Prodception continues 
		providing support in marketing and expansion. As an umbrella company we are fully committed to seeing our Products
		grow and provide service to the general public.
	</p>
	<hr>
	<div class="history">		
		<div class="president">
			<img height="400" src="app/images/scott_terry.jpg">
			<!-- <i>Scott Terry, President and Ceo of Prodception</i>	 -->
		</div>
		<div>
			<p>
				Prodception was started in 2017 by Scott Terry in Chicago, IL. The company was born out of the idea of having multiple
				businesses, but needing a central place to manage the businesses. There was a need to balance the investment of each business
				without letting another fall behind. From that Prodception was born taking on 3 initial businesses owned by Scott Terry. Apptex, 
				Vlace, and LockSpace. 
			</p>
		</div>
	</div>
</div>