<div id="form" class="container">
	<h2 ng-bind="form.content.heading"></h2>
	<p ng-bind="form.content.subheading"></p>
	<form  name="mainForm">
		<div ng-form class="input-container">
			<label ng-repeat="field in form.formConfigurations" for="{{field.id}}" class="col col-sm-12 col-md-6 col-lg-6">{{ field.formattedName}}
				<input class="form-control" 
						type="{{ field.type}}" 
						name="{{field.id}}" 
						ng-model="form.formData[field.id]"
						minlength="{{field.minlength}}"
						maxlength="f{{ield.maxlength}}"
						required="{{field.required}}"
						disabled
						>
			</label>
			<hr class="featurette-divider"> 
			<!-- <label class="col col-sm-12 col-md-6 col-lg-6"> Amount $
				<input type="text" 
					pattern="\d+\.\d{2}" 
					name="amount" 
					class="form-control" 
					placeholder="10000.00 Do not use commas"
					ng-model="form.formData.amount" 
					required> 	
			</label> -->
			<label class="col col-sm-12 col-md-8 col-lg-8"> Card number:
				<input data-braintree-name="number" 
					   maxlength="16" 
					   class="form-control" 
					   placeholder="1234567891234567 No spaces"
					   disabled
				required> 
			</label>
			<label class="col col-sm-2 col-md-2 col-lg-2"> Expiration Date (MM/YY):
				<input data-braintree-name="expiration_date" 
					maxlength="5" 
					placeholder='5/12' 
					class="form-control"
					disabled
					required> 
			</label>	 
			<label class="col col-sm-2 col-md-2 col-lg-2">CVV:
				<input data-braintree-name="cvv" 
					maxlength="3" 
					class="form-control" 
					placeholder="999"
					disabled 
					required>
			</label>
		</div>
		<button disabled class="btn btn-lg btn-primary" ng-click="form.submit()">Confirm Payment Information</button>
	</form>
</div>